body{
    font-family: 'Open Sans';
    color: #7581a1;
    font-size: 16px;
    font-weight: 400;
}
a{
    text-decoration: none;
}
h1{
    font-size: 80px;
    color: #192b59;
    font-weight: 600;
    max-width: 540px;
    letter-spacing: -2.4px;
    line-height: 91px;
    margin-bottom: 66px;
}
h2{
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
}
span{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    color: #1085e4;
    display: block;
}
ul{
    list-style-type: none;
}
.wrap{
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.logo{
    background-image: url(../img/header-logo.png);
    display: block;
    -ms-flex-preferred-size: 181px;
        flex-basis: 181px;
    height: 49px;
}
.box-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 251px;
}
.screen-header{
    background-image: url(../img/header-screen.png);
    background-repeat: no-repeat;
    height: 740px;
    width: 895px;
    position: absolute;
    right: 0;
    top: 190px;
    background-position: 204px 0;
}
.nav{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav>li:last-child{
    padding: 0;
}
.nav>li{
    padding: 0 20px;
}
.nav-item{
    color: #6e7ea9;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.2px;
}
.btn-menu{
    border: none;
    background: none;
    display: none;
}
.btn-menu svg{
    width: 35px;
    height: 35px;
    fill: #1a2c5a;
}
.btn-menu:focus, input:focus, textarea:focus{
    outline: none;
}
.btn-close{
    position: absolute;
    right: 12px;
    top: 0px;
    display: block;
    border: none;
    background: transparent;
}
.btn-close span{
    font-size: 50px;
    font-weight: 400;
    color: #192b59;
    opacity: 0.5;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-close span:hover{
    opacity: 1;
}
.btn-close:focus{
    outline: none;
}
.btn-free{
    padding: 21px 55px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #1085e4;
    border-radius: 30px;
    letter-spacing: 1.7px;
    background-color: #1085e4;
    margin: 0px 0px 0px -2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-free:hover{
    background: #fff;
    color: #1085e4;
}
.btn-primary{
    background-color: #1085e4;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 21px 40px;
    border-radius: 30px;
    letter-spacing: 2.4px;
    border: 1px solid #1085e4;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-primary:hover{
    background: #fff;
    color: #1085e4;
}
.btn-price{
    background-color: #1085e4;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 21px 62px;
    border-radius: 30px;
    letter-spacing: 2.4px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-price:hover{
    background: #fff;
    color: #1085e4;
}
.btn-secondary:hover{
    background: #fff;
}
.btn-secondary{
    background: #cbdbe8;
    color: #7e8bae;
    border: 1px solid #cbdbe8;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 21px 40px;
    border-radius: 30px;
    letter-spacing: 2.4px;
    margin-left: 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-info{
    background: transparent;
    color: #8085b1;
    border: 1px solid #dce1e5;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 21px 62px;
    border-radius: 30px;
    letter-spacing: 2.4px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-info:hover{
    background: #1085e4;
    color: #fff;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 20px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ebebe4;
    -webkit-box-shadow: 0 8px 16px #f0f0f0;
            box-shadow: 0 8px 16px #f0f0f0;
}
.nav-modal{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    list-style-type: none;
    padding: 25px 0 20px;
}
.nav-modal>li{
    margin-bottom: 15px;
}
.nav-modal>li:last-child{
    margin-bottom: 30px;
    margin-top: 30px;
}
.company>ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
}
.co-item{
    display: block;
}
.co-one{
    -ms-flex-preferred-size: 198px;
        flex-basis: 198px;
}
.co-two{
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
}
.co-three{
    -ms-flex-preferred-size: 201px;
        flex-basis: 201px;
}
.co-four {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
}
.co-one span{
    background-image: url(../img/logo2.png);
    width: 198px;
    height: 58px;
}
.co-two  span{
    background-image: url(../img/logo3.png);
    width: 200px;
    height: 69px;
}
.co-three  span{
    background-image: url(../img/logo4.png);
    width: 201px;
    height: 47px;
}
.co-four  span{
    background-image: url(../img/logo5.png);
    width: 200px;
    height: 69px;
}
.page-grid h2{
    font-size: 40px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
    grid-template-areas: "a b c"
    "d b c"
    "d f g"
    "e f g"
    "e h h";
    max-width: 1110px;
    margin: 0 auto;
    padding: 86px 15px 93px 15px;
} 
.grid-title{
    grid-area: a;
    font-weight: 700;
    letter-spacing: -1.2px;
    max-width: 285px;
    line-height: 50px;
    margin-bottom: 14px;
}
.grid-title span{
    letter-spacing: 2.9px;
    padding-bottom: 18px;
    line-height: 1.15;
}
.grid-item-1{
    grid-area: b;
}
.grid-item-2{
    grid-area: c;
}
.grid-item-3{
    grid-area: d;
}
.grid-item-4{
    grid-area: e;
}
.grid-item-5{
    grid-area: f;
}
.grid-item-6{
    grid-area: g;
}
.grid-text{
    grid-area: h;
    margin-left: 19px;
    line-height: 27px;
}
.grid-icon{
    background-repeat: no-repeat;
    display: block;
    margin: 85px auto 36px;
}
.grid-icon1{
    background-image: url(../img/icon3.png);
    width: 73px;
    height: 79px;
}
.grid-icon2{
    background-image: url(../img/icon2.png);
    width: 89px;
    height: 85px;

}
.grid-icon3{
    background-image: url(../img/icon1.png);
    width: 79px;
    height: 82px;

}
.grid-icon4{
    background-image: url(../img/icon4.png);
    width: 102px;
    height: 92px;

}
.grid-icon5{
    background-image: url(../img/icon5.png);
    width: 85px;
    height: 90px;
 
}
.grid-icon6{
    background-image: url(../img/icon6.png);
    width: 100px;
    height: 87px;
 
}
.grid-item{
    text-align: center;
    -webkit-box-shadow: 0px 15px 16px #f4f4f4;
            box-shadow: 0px 15px 16px #f4f4f4;
    height: 423px;
    border-radius: 10px;
}
.grid-item h3{
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    margin-bottom: 22px;
    letter-spacing: -0.7px;
}
.grid-item p{
    max-width: 260px;
    margin: 0 auto 20px;
    line-height: 26px;
}
.grid-item a{
    color: #1085e4;
    font-size: 14px;
    font-weight: 600;
}
.grid-down span{
    color: #192b59;
    font-size: 16px;
    text-transform: none;
    font-weight: 600;
    display: inline;
}
.grid-down{
    font-weight: 400;
    color: #1085e4;
    font-size: 14px;
}
.box-sub{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.content-sub{
    padding: 75px 0 0px 0;
    -ms-flex-preferred-size: 540px;
        flex-basis: 540px;
    position: relative;
}
.content-sub h2{
    color: #ffffff;
    letter-spacing: -1.4px;
    margin-bottom: 29px;
    font-size: 50px;
}
.content-sub p{
    max-width: 410px;
    line-height: 28px;
    color: #dfe8ff;
    font-size: 18px;
    padding-bottom: 18px;
}
.title-sub{
    color: #dfe8ff;
    letter-spacing: -1.4px;
    margin-bottom: 33px;
}
.title-sub span{
    letter-spacing: 2.8px;
    padding-bottom: 20px;
}
.box-sub img{
    margin: 0 auto;
    padding-top: 23px;
}
.input-sub{
    position: relative;
}
.text-email{
    background: transparent;
    border: 2px solid #4265b7;
    padding: 31px 209px 34px 35px;
    border-radius: 35px;
    width: 100%;
    height: 51px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #fff;
}

.text-email::-webkit-input-placeholder {color:#b1c3ee;}
.text-email::-moz-placeholder          {color:#b1c3ee;}
.text-email:-moz-placeholder           {color:#b1c3ee;}
.text-email:-ms-input-placeholder      {color:#b1c3ee;}

.text-email:focus{
    outline: none;
}
.btn-email{
    right: 12px;
    top: 10px;
    position: absolute;
    padding: 17px 46px;
    font-size: 12px;
    letter-spacing: 3.7px;
}
.page-software-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.page-software-flex>div{
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
}
.setting-icon{
    background-image: url(../img/icon-button.png);
    display: block;
    width: 144px;
    height: 97px;
    background-repeat: no-repeat;
    background-position: -23px 0;   
}
.title-sofware{
    margin-top: 9px;
    max-width: 565px;
    margin-bottom: 29px;
    letter-spacing: -1.3px;
    line-height: 59px;
}
.page-software p{
    margin-bottom: 31px;
    line-height: 27px;
}
.page-software-list{
    height: 340px;
    overflow: hidden;
    overflow-y: scroll;
}
.page-software-list::-webkit-scrollbar { width: 4px; border-radius: 3px;}
.page-software-list::-webkit-scrollbar-track {  background-color: #f3f6ff;}
.page-software-list::-webkit-scrollbar-track-piece { background-color: #f3f6ff;}
.page-software-list::-webkit-scrollbar-thumb { height: 18px; background-color: #1085e4; border-radius: 3px;}
.page-software-list dt{
    font-size: 16px;
    font-weight: 700;
    color: #5a6789;
    margin-bottom: 16px;
}
.page-software-list dd{
    font-size: 14px;
    margin-bottom: 55px;
    margin-left: 0;
    max-width: 549px;
    line-height: 24px;
}
.circle-fun{
    display: block;
    background-image: url(../img/circle.svg);
    width: 500px;
    height: 766px;
    position: absolute;
    left: 0;
    bottom: -302px;
    background-repeat: no-repeat;
}
.rect-fun{
    display: block;
    background-image: url(../img/rect.svg);
    width: 655px;
    height: 775px;
    position: absolute;
    right: 0px;
    top: -264px;
    background-repeat: no-repeat;
}
.title-fun{
    text-align: center;
    max-width: 430px;
    margin: 0 auto;
    letter-spacing: -1.6px;
    line-height: 60px;
}
.title-fun span{
    letter-spacing: 4.4px;
    line-height: 44px;
    padding-top: 104px;
}
.funs{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 57px;
    padding-bottom: 115px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
}
.funs span{
    color: #bacbdc;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -1.1px;
    margin-bottom: 8px;
}
.funs li{
    color: #1085e4;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.title-video{
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 60px;
    letter-spacing: -1.5px;
    margin-bottom: 37px
}
.video-text{
    line-height: 26px;
    margin-bottom: 30px;
}
.now{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3.3px;
}
.page-video-list{
    padding: 0;
    margin-top: 29px;
    margin-left: -11px;
}
.page-video-list>li{
    display: inline-block;
}
.page-video-list>li>a{
    background-image: url(../img/app.png);
    display:block;
    width: 181px;
    height: 74px;
    background-repeat: no-repeat;
}
.page-video-and{
    background-position: -8px -8px;
}
.page-video-ios{
    background-position: -198px -8px;
}
.page-video-content{
    width: 55%;
}
.video-app{
    position: absolute;
    top: -60px;
    right: -170px;
}
.intro p {
    font-size: 300px;
    color: rgb(0, 0, 0, 0.04);
    font-weight: 800;
    position: absolute;
    left: 0;
    right: 0;
    top: -132px;
    text-align: center;
    margin: 0;
}
.flex-state{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.title-state{
    letter-spacing: -1.5px;
    margin-top: 9px;
    line-height: 60px;
    margin-bottom: 30px;
}
.state-text{
    line-height: 26px;
    margin-bottom: 36px;
}
.state-content{
    -ms-flex-preferred-size: 54%;
        flex-basis: 54%;
}
.flex-learn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.learn-content{
    -ms-flex-preferred-size: 54%;
        flex-basis: 54%;
}
.learn-text{
    line-height: 26px;
    margin-bottom: 37px;
    max-width: 600px;
}
.learn-img {
    -ms-flex-preferred-size: 42%;
        flex-basis: 42%;
}
.title-learn{
    margin-top: 10px;
    max-width: 425px;
    line-height: 60px;
    letter-spacing: -1.4px;
    margin-bottom: 29px;
}
.btn-learn{
    letter-spacing: 2.3px;
    padding: 22px 64px;
}
.title-screen, .title-price{
    font-size: 40px;
    max-width: 450px;
    margin: 0 auto;
    letter-spacing: -1.2px;
    line-height: 60px;
    margin-bottom: 57px;
}
.title-screen span, .title-price span{ 
    font-size: 18px;
    letter-spacing: 3.6px;
    padding-top: 98px;
}
.img-screen{
    margin-bottom: -3px;
    width: 100%;
    max-width: 1288px;
}

.title-client{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1.2px;
    margin-bottom: 62px;
}
.title-client span{
    color: #85c8ff;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.5px;
    margin-bottom: 20px;
}
.client{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

}
.client-item{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 30px 31px 30px;
    -ms-flex-preferred-size: 31.5%;
        flex-basis: 31.5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 7px 3px #f4f4f4;
            box-shadow: 0px 7px 3px #f4f4f4;
}
.client-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 8px;
    
}
.client-text{
    font-size: 14px;
    font-weight: 400;
    color: #8085b1;
    padding-left: 10px;
    padding-right: 29px;
    margin-top: 14px;
    margin-bottom: 6px;
    line-height: 24px;
    
}
.client-info .name{
    color: #000958;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
}
.client-info .position{
    color: #1085e4;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 3px;
}
.client-info>img{
    margin-top: 10px;
}
.client-info>div{
    padding: 0 0 0 19px;
}
.title-price{
    margin-bottom: 74px;
}
.price-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.price-item p{
   margin: 0 auto;
   margin-top: 12px;
}
.page-price li{
    padding-bottom: 24px;
    font-size: 14px;
    font-weight: 400;
 }
 .page-price ul{
    margin-top: 43px;
    margin-bottom: 45px;
 }
.price-item-pas{
    background-color: #f5faff;
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;

}
.price-item-pas h3{
    font-size: 70px;
    color: #000958;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 63px;
    letter-spacing: -1.7px;
}
.price-item-pas span{
    display: inline;
    color:#000958;
    font-size: 20px;
}
u{
    text-transform: lowercase;
    color: #7b8ab2;
    display: inline;
    font-size: 20px;
    text-decoration: none;
}
strong{
    font-size: 14px;
    color: #0084ff;
    font-weight: 700;
    letter-spacing: 2.6px;
}
.price-item-pas ul, .box-active ul{
  padding: 0;
}
.box-active{
    background-color: #192b59;
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
    padding: 0 0 100px 0;
}
.box-active h3{
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 63px;
    letter-spacing: -1.7px;
}
.box-active span{
    display: inline;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}
.box-active strong{
    color: #fff;
}
.box-active li{
    color: #fff;
}
.title-team{
    font-size: 40px;
    color: #fff;
    letter-spacing: -1.3px;
}
.title-team span{
    color: #85c8ff;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.5px;
    padding: 117px 0 21px 0;
}
.box-team{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 137px 0 0 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.box-team-item{
    background-color: #fff;
    -ms-flex-preferred-size: 31.5%;
        flex-basis: 31.5%;
    -webkit-box-shadow: 0px 7px 3px #f4f4f4;
            box-shadow: 0px 7px 3px #f4f4f4;
    position: relative;
    padding: 193px 53px 43px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
}
.avatar{
    position: absolute;
    top: -85px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.box-team-item .position{
    text-transform: uppercase;
    color: #1a88e1;
    font-weight: 800;
    font-size: 14px;
    margin: 18px 0 0 0;
    letter-spacing: 3px;
}
.box-team-item .name{
    font-weight: 600;
    font-size: 26px;
    color: #192b59;
    margin: 12px 0 24px 0;
    letter-spacing: -0.7px;
}
.box-team-item .btn-team{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #f3f3f3;
    margin: 0 auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: none;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.box-team-item .btn-team:hover{
    background-color: #1085e4;
}
.box-team-item .btn-team span{
    background-image: url(../img/btnteam.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    display: block;
}
.box-team-item .btn-more span{
    background-position: -7px -3px;
    width: 20px;
    height: 20px;
    
}
.box-team-item .btn-fb span{
    background-position: -39px 12px;
    padding: 0;
    width: 20px;
    height: 40px;
}
.box-team-item .btn-fb:hover span{
    background-position: -39px -20px;
    padding: 0;
    width: 20px;
    height: 40px;
}
.box-team-item .btn-tw span{
    background-position: -69px 13px;
    padding: 0;
    width: 20px;
    height: 40px;
}
.box-team-item .btn-tw:hover span{
    background-position: -69px -19px;
    padding: 0;
    width: 20px;
    height: 40px;
}
.box-team-item .btn-be span{
    background-position: -98px 12px;
    padding: 0;
    width: 20px;
    height: 40px;
}
.box-team-item .btn-be:hover span{
    background-position: -98px -20px;
    padding: 0;
    width: 20px;
    height: 40px;
}
.box-team-item .btn-web span{
    background-position: -129.5px 13px;
    padding: 0;
    width: 20px;
    height: 40px;
}
.box-team-item .btn-web:hover span{
    background-position: -129.5px -19px;
    padding: 0;
    width: 20px;
    height: 40px;
}
.box-team-item .btn-more:hover span{
    background-position: -7px -35px;
}
.btn-more:focus{
    outline: none;
}
.social-team{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.title-form {
    line-height: 60px;
    letter-spacing: -1.5px;
    max-width: 500px;
    margin: 0 0 49px 0;
    padding: 0;
}
.form-content{
    max-width: 514px;
    width: 100%;
    margin-top: 0px;
}
.contact-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.contact-form input::-webkit-input-placeholder,  .contact-form textarea::-webkit-input-placeholder {color:#b1c3ee;}
.contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder {color:#b1c3ee;}
.contact-form input:-moz-placeholder, .contact-form textarea:-moz-placeholder {color:#b1c3ee;}
.contact-form input:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {color:#b1c3ee;}
.contact-form input, .contact-form textarea{
    font-size: 14px;
    font-weight: 400;
    padding: 25px 38px;
    border: 2px solid #dce4ec;
    border-radius: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
}
.form-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.contact-form textarea{
    min-height: 162px;
    resize: none;
}
.contact-form-item{
    position: relative;
    margin-bottom: 20px;
}
.contact-form-item::after{
    content: '';
    display: block;
    position: absolute;
    right: 39px;
    background-repeat: no-repeat;
}
.contact-form-name::after{
    background-image: url(../img/icon-name.png);
    width: 12px;
    height: 15px;
    top: calc(50% - 6px);
}
.contact-form-email::after{
    background-image: url(../img/icon-email.png);
    width: 14px;
    height: 11px;
    top: calc(50% - 4px);
}
.contact-form-text::after{
    background-image: url(../img/icon-mess.png);
    width: 14px;
    height: 14px;
    top: 30px;
}
.btn-form::after{
    content: '';
    display: block;
    position: absolute;
    left: 52px;
    top: 23px;
    background-image: url(../img/icon-sub.png);
    height: 12px;
    width: 13px;
    background-repeat: no-repeat;
}
.btn-form{
    height: 60px;
    width: 230px;
    padding: 0 0 0 22px;
    letter-spacing: 2.1px;
    position: relative;
    margin: 15px 0 0 0;
}
.btn-form:focus{
    outline: none;
}
.form-flex>img{
    margin-right: 60px;
    margin-left: -20px;
}


.footer-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.footer-icons>ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
}
.footer-icons>ul>li{
    margin-left: 22px;
}
.footer-fb{
    background-image: url(../img/icons-footer.png);
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: 4px 0;
    display: block;
}
.footer-tw{
    background-image: url(../img/icons-footer.png);
    height: 16px;
    width: 18px;
    background-repeat: no-repeat;
    background-position: -34px 0px;
    display: block;
}
.footer-be{
    background-image: url(../img/icons-footer.png);
    height: 16px;
    width: 23px;
    background-repeat: no-repeat;
    background-position: -74px 0px;
    display: block;
}
.footer-pr{
    background-image: url(../img/icons-footer.png);
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: -118px 0px;
    display: block;
}
.footer-ff{
    background-image: url(../img/icons-footer.png);
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: -156px 0px;
    display: block;
}
.footer-text a{
    text-transform: uppercase;
    color: #1085e4;
}


/* PAGE */
.page-header{
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 54px 0 334px 0;
    position: relative;
}
.page-co{
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 107px 0 99px 0;
}
.page-software{
    padding: 111px 0 145px 0;
    position: relative;
}
.screen-software{
    background-image: url(../img/screen-software.png);
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 46%;
    height: 992px;
    left: 0;
    bottom: 0;
    background-position: bottom;
    z-index: -1;
}
.page-subscribe{
    padding-bottom: 27px;
    background: rgba(10,32,144,1);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
    background: -webkit-gradient(linear, left top, right top, from(rgba(10,32,144,1)), to(rgba(35,120,205,1)));
    background: linear-gradient(to right, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 ); 
}
.page-fun{
    background-color: #edf6ff;
    position: relative;
}
.page-video{
    padding: 71px 0 80px;
}
.page-video .wrap{
    position: relative;
}
.page-state{
    background-image: url(../img/bg9.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 124px 0 122px;
}
.page-learn{
    padding: 121px 0 115px;
    background-image: url(../img/bg6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.page-screen{
    text-align: center;
    background: #edf6ff;
}
.page-client{
    position: relative;
    padding: 44px 0 0 0;
    margin: 121px 0 0 0;
}
.page-client::before{
    content: '';
    display: block;
    position: absolute;
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 0;
    top:0;
    z-index: -1;
    height: 100%;
    width: 100%;    
}
.page-price{
    text-align: center;
    padding: 0px 0 85px 0;
}
.page-team{
    text-align: center;
    background-image: url(../img/bg8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 121px 0;
}
.page-form{
    background-image: url(../img/bg9.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 110px 0 120px 0;
}
.footer{
    background-color: #192b59;
    padding: 10px 0;
    margin: 0;
}


/* MEDIA */
@media (max-width: 1500px){
    .video-app{
        right: 0;
        top: -26px;
    }
    .video-app img {
        width: 482px;
    }
}
@media (max-width: 1300px){
    .screen-header{
        height: 579px;
        width: 50%;
        right: 0;
        top: 295px;
        background-position: 0 0;
        background-size: cover;
    }
    .screen-software{
        display: none;
    }
    .page-software-flex {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .page-software-flex>div {
        -ms-flex-preferred-size: 70%;
            flex-basis: 100%;
    }
    .title-sofware{
        text-align: center;
        margin: 0 auto;
    }
    .page-software{
        padding: 65px 0 58px 0;
    }
    
}
@media (max-width: 1150px){
    .box-team-item{
        -ms-flex-preferred-size: 51%;
            flex-basis: 32%;
        text-align: center;
        margin: 0 auto 100px;
        -webkit-box-shadow: 0px 3px 3px #e6e5e5;
                box-shadow: 0px 3px 3px #e6e5e5;
    }
    .page-team{
        padding: 0;
    }
}
@media (max-width: 1113px){
    .box-team-item{
        flex-basis: 51%;
    }
}
@media (max-width: 1090px){
    .screen-header, .nav{
        display: none;
    }
    h1{
        text-align: center;
        margin: 0 auto;
    }
    .btn-menu{
        display: block;
    }
    .btn-header{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 25px auto 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .box-header {
        padding-bottom: 122px;
    }
    .page-header{
        padding: 54px 0 186px 0;
    }
    .page-state{
        background-color: #edf6ff;
        background-image: none;
        padding: 35px 0 35px;
    }
    .state-content {
        margin: 0 auto;
        -ms-flex-preferred-size: 70%;
        flex-basis: 100%;
    }
    .state-img{
        margin: 0 auto;
        -ms-flex-preferred-size: 70%;
        flex-basis: 100%;
        text-align: center;
    }
    .state-img img{
        width: 350px;
    }
    .page-learn{
        background: none;
        padding: 35px 0 35px 0;
    }
    .flex-learn{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    
    .learn-img{
        -ms-flex-preferred-size: 70%;
        flex-basis: 100%;
    }
    .learn-img img{
        width: 350px;
    }
    .learn-content{
        -ms-flex-preferred-size: 70%;
        flex-basis: 100%;
    }
    .client-item{
        -ms-flex-preferred-size: 70%;
        flex-basis: 100%;
        margin: 0 auto 35px;
    }
    .title-client{
        text-align: center;
    }
}
@media (max-width: 1050px){
    .co-item{
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        margin-bottom: 50px;
    }
    .co-item span{
        margin: 0 auto;
    }
    .page-co{
        padding: 107px 0 49px 0;
    }
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-gap: 35px;
        grid-template-areas: "a a"
        "b c"
        "d e"
        "f g"
        "h h";
    }
    .grid-title{
        margin: 0 auto;
        text-align: center;
        max-width: 500px;
    }
    .grid-title span{
        padding-bottom: 10px;
    }
    .box-sub{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .box-sub img{
        max-width: 200px;
    }
    .title-sub{
        text-align: center;
    }
    .content-sub p{
        text-align: center;
        margin: 0 auto;
    }
    .content-sub{
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        padding: 0;
        margin: 0 auto;
        width: 70%;
    }
    
}
@media (max-width: 1030px){
    .form-flex img{
        display: none;
    }
    .form-content{
        margin: 0 auto;
        text-align: center;
    }
    .btn-form{
        border-color:#edf6ff; 
    }
}
@media (max-width: 1000px){
    .intro{
        display: none;
    }
    .video-app {
        right: 0;
        left: 5%;
        top: -358px;
        margin: 0 auto;
        text-align: center;
    }
    .page-video {
        padding: 352px 0 35px;
    }
    .video-app img {
        width: 350px;
    }
    .page-video-content {
        width: 100%;
        margin: 0 auto;
    }
    .title-video, .now{
        text-align: center;
    }
    .page-video-list{
        margin: 0 auto;
        text-align: center;
    }
    .price-item-pas, .box-active{
        -ms-flex-preferred-size: 51%;
            flex-basis: 51%;
        margin: 0 auto 30px;
        padding: 0 0 45px 0;
    }
    .page-price{
        padding: 0px 0 35px 0;
    }
    
}
@media (max-width: 700px){
    .funs li{
        -ms-flex-preferred-size: 35%;
            flex-basis: 35%;
        margin-bottom: 30px;
    }
    .footer-flex{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .footer-text, .footer-icons{
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%;
        margin: 0 auto;
        text-align: center;
    }
    .footer-icons>ul>li{
        margin-left: 0;
    }
    .box-team-item{
        flex-basis: 100%;
    }
}
@media (max-width: 650px){
    .avatar{
        width: 200px;
    }
    .box-team-item{
        padding: 104px 53px 43px;
    }
    .social-team{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                    justify-content: space-around;
    }
    .btn-team{
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    }
    .box-active, .price-item-pas{
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
}
@media (max-width: 600px){
    h1{
        font-size: 60px;
        line-height: 60px;
    }
    .page-grid h2, .title-sofware, .title-fun, .title-video, .title-screen, .title-price, .title-client .title-team{
        font-size: 30px;
        line-height: 35px;
    }
    .content-sub h2, .title-state, .title-learn, .title-form{
        font-size: 40px;
        line-height: 45px;
    }
    .btn-primary, .btn-secondary, .btn-info, .btn-price{
        font-size: 10px;
        padding: 23px 40px 21px;
    }
    .btn-email{
        top: 75px;
        left: 0;
    }   
    .page-video {
        padding: 35px 0 35px;
    }
    p{
        font-size: 14px;
    }
    .learn-img, .state-img, .video-app, .box-sub img, .rect-fun, .circle-fun{
        display: none;
    }
    .page-subscribe{
        padding: 35px 0 85px 0;
    }
    .text-email{
        padding: 31px 0 31px 35px;
        font-size: 13px;
    }
    .grid{
        grid-template-columns: 1fr;
        grid-gap: 0;
        grid-template-areas: "a"
        "b"
        "c"
        "d"
        "e""f""g""h";
    }
    .grid-item{
        height: 380px;
    }
    .grid-icon{
        margin-top: 50px;
    }
    .grid-title{
        margin: 0 auto;
        text-align: center;
        max-width: 500px;
    }
    .grid-title span, .client-info .position{
        padding-bottom: 10px;
    }
    .grid-item h3, .box-team-item .name{
        font-size: 18px;
    }
    .funs span{
        font-size: 42px;
    }
    .content-sub p{
        font-size: 16px;
    }
    .client-text, .client-info .name, .page-price li, .box-team-item .position, .contact-form input, .contact-form textarea{
        font-size: 12px;
    }
    .price-item-pas h3, .box-active h3{
        font-size: 52px;
        margin-top: 35px;
    }
}
@media (max-width: 432px){
    h1{
        font-size: 36px;
        line-height: 60px;
    }
    .page-grid h2, .title-sofware, .title-fun, .title-video, .title-screen, .title-price, .title-client .title-team{
        font-size: 20px;
        line-height: 35px;
    }
    .content-sub h2, .title-state, .title-learn, .title-form{
        font-size: 30px;
        line-height: 45px;
    }
    .btn-primary, .btn-secondary, .btn-info, .btn-price{
        font-size: 8px;
        padding: 15px 15px 15px;
    }
    p, .contact-form input, .contact-form textarea, .box-team-item .position, .page-price li, .client-text{
        font-size: 10px;
    }
    .page-header {
        padding: 20px 0 75px 0;
    }
    .box-header {
        padding-bottom: 45px;
    }
    .co-item {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        margin-bottom: 50px;
        text-align: center;
    }
    .page-co {
        padding: 50px 0 0px 0;
    }
    .grid-item h3,  .box-team-item .name{
        font-size: 16px;
    }
    .content-sub p, .page-software-list dt{
        font-size: 14px;
    }
    .text-email{
        font-size: 11px;
    }
    .page-software-list dd{
        font-size: 12px;
    }
    .title-fun span{
        padding-top: 35px;
    }
    .funs{
        padding-bottom: 20px;
    }
    .funs span{
        font-size: 40px;
    }
    .client-info .name{
        font-size: 18px;
    }
    .client-info .position{
        font-size: 8px;
    }
    .price-item-pas h3, .box-active h3{
        font-size: 50px;
        margin-top: 35px;
    }
    .page-price ul {
        margin-top: 18px;
        margin-bottom: 11px;
    }
    .title-price {
        margin-bottom: 35px;
    }
    .avatar {
        width: 150px;
    }
    .box-team-item {
        padding: 50px 40px 43px;
    }
    .page-form{
        padding: 35px 0 35px 0;
    }
    .client-text{
        line-height: 18px;
        width: 100%;
    }
}